@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(143, 192, 192, 0.695);
    font-family: 'Poppins', sans-serif;
}

.heading {
    text-align: center;
    margin-top: 18px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}

span {
    color: rgb(237, 66, 36);
}

#facts-container {
    background-color: rgb(241, 238, 226);
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    border: 1px solid rgb(46, 44, 44);
    margin-bottom: 30px;
    height: 300px;
    padding: 10px;
}

#facts-text {
    color: black;
    font-size: 25px;
    overflow: hidden;
    padding: 20px;
}

#submit {
    text-align: center;
    justify-content: center;
}

#submit-btn {
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto 0;
    background-color: rgb(241, 177, 16);
    height: 60px;
}

#submit-btn:hover {
    cursor: pointer;
}

@media (max-width:768px) {
    .heading {
        font-size: 16px;
        ;
    }

    #facts-container {
        height: 320px;
        width: 90%;
    }

    #facts-text {
        font-size: 22px;
    }

    .heading {
        margin-top: 5px;
        font-size: 17px;
        border-radius: 5px;
    }

    #submit-btn {
        font-size: 20px;
        width: 180px;
        height: 50px;
    }
}

@media (max-width:468px) {
    #facts-container {
        height: 380px;
        width: 95%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .heading {
        margin-top: 5px;
        font-size: 13px;
        border-radius: 5px;
    }

    #facts-text {
        font-size: 18px;
    }
}